@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
}

.header {
    font-size: 6rem;
    text-align: center;
}

.mainpage {
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 50%;
    border: 5px solid black;
    border-radius: 30px;
    padding: 10px 0 50px 0;
    margin: 30px 0 0 0;
}

.timer-container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.timer {
    padding: 10px 20px 10px 20px;
}

h2 {
    font-size: 6rem;
    margin: 3rem auto 1rem auto;
}

h3 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

li {
    font-size: 2rem;
}

.record {
    width: 30%;
    border: 5px solid black;
    border-radius: 30px;
    padding: 10px 20px 50px 20px;
    margin: 30px 0 0 0;
}

button {
    font-size: 1.5rem;
    width: 150px;
    padding: 10px;
}

#stop-btn {
    display: none;
}

#lap-btn {
    display: none;
}

#continue-btn {
    display: none;
}

#clear-btn {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .mainpage {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 80%;
        margin: 20px 8% 10px 8%;
        padding: 20px 2% 20px 2%;
    }

    .record {
        width: 80%;
        margin: 10px 8% 10px 8%;
        padding: 10px 2% 10px 2%;
    }

    .header {
        font-size: 4rem;
        text-align: center;
    }

    h2 {
        font-size: 4rem;
        margin: 3rem auto 1rem auto;
    }
    
    h3 {
        font-size: 2rem;
        margin: 0;
    }
    
    p {
        font-size: 1rem;
        margin-top: 0;
        text-align: center;
    }
    
    li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 80%;
        margin: 20px 8% 10px 8%;
        padding: 20px 1% 20px 1%;
    }
    .record {
        width: 80%;
        margin: 10px 8% 10px 8%;
        padding: 10px 1% 10px 1%;
    }
    button {
        font-size: 0.8rem;
        width: 90px;
        padding: 10px;
    }
    .header {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin: 1rem 0.2rem 1rem 0.52
    }

    p {
        font-size: 0.5rem;
        margin-top: 0;
        text-align: center;
    }
    
}